/* modalbox stuff */
#modalbox {position: absolute; display: block; z-index: 2000;}
#modalbox.loading {text-align: center;}
#modalbox .modalgutter {display: block; padding: 12px;}
#modalbox .modalgutter .modalcontent {display: block; padding: 16px; background: #fff; border: 1px solid #222;}
#modalbox .closelink {position: absolute; top: -4px; right: -14px; display: block; width: 40px; height: 40px; margin: 0; padding: 0; background: url(/images/modal/close.png) 0 0 no-repeat;}
#modalbox-overlay {position: fixed; z-index: 1999; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity:0.71; filter:alpha(opacity=71);}

