/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {overflow-y: scroll; overflow-x: auto;}
body {margin: 0; padding: 0; font-family: arial, helvetica; font-size: 14px; line-height: 1.6; color: #000; background: #dcdacd;}

.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clear {display: inline-block;}
/* hide IE mac \*/
* html .clear {height: 1%;}
.clear {display: block;}
/* */

div#wookie {position: fixed; right: -120px; bottom: 0; width: 220px; height: 238px; background: url(/images/template/wookie.png) right bottom no-repeat;}
div#wookie a {display: block; width: 220px; height: 238px;}
div#wookie a:hover {text-decoration: none;}
div#container {width: 740px; margin: 0 auto;}

header {width: 108%; margin: -5px 0 40px -6%; padding: 8px 2% 4px 2%; background: #1d1f21; border: 1px solid #ccc; border-radius: 5px;}
header h1 {float: left; margin: 0 0 0 0; padding: 0 32px 1px 0; font-size: 16px; border-right: 1px solid #555;}
header h1 a {color: #ddd;}
header h1 a:hover {color: #dbb748; text-decoration: none;}

nav {margin: 0 0 0 0; padding: 2px 0 2px 0;}
nav ul {margin: 0 0 0 0; padding: 0; list-style: none; line-height: 1;}
nav ul li {display: inline;}
nav ul li a {display: inline-block; margin: 0 0 0 0; padding: 2px 8px; color: #dbb748; font-weight: bold; font-size: 11px; text-transform: uppercase;}
nav ul li:last-child a {padding-right: 0px; }
nav ul li:first-child a {padding-left: 32px; }
nav ul li a:hover {color: #d9c382; text-decoration: none;}

content {display: block; min-height: 300px;}
content .documentation {padding-bottom: 100px;}

footer {margin: 100px 0 0 0; padding: 4px 0 30px 0; color: #666; font-size: 11px; border-top: 1px solid #ccc;}
footer ul {float: left; list-style: none; margin: 0; padding: 0;}
footer ul li {display: inline-block; padding: 0 6px 0 9px; line-height: 1; border-left: 1px solid #ccc;}
footer ul li:first-child {border-left: 0; padding-left: 0;}
footer p {float: right; margin: 0; padding: 0;}

a {color: #3173C4; text-decoration: none;}
a:hover {text-decoration: underline;}
h1, h2, h3, h4, h5 {margin: 20px 0 10px 0; font-weight: normal;}
h1, h2, h3 {margin-left: -14px;}  /* really helps to set headers/sections out visually */
h1 {font-size: 28px; line-height: 1.2em;}
h2 {font-size: 24px; border-bottom: 1px solid #ccc;}
h3 {font-size: 18px;}
h4 {font-size: 16px; font-weight: bold;}
h5 {font-size: 14px; font-weight: bold;}
ul {margin: 15px 0; padding: 0 0 0 30px;}
ul ul {margin: 0;}
p {margin: 15px 0;}
strong {font-weight: bold;}
code {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #edebdd; border-radius: 3px;}
pre code {color: #c9bf9f; white-space: pre; background: none;}
em code, strong code {font-style: normal; font-weight: normal;}

i, cite, em, var, address, dfn { font-style: italic; }

.post .date {float: right; display: inline-block; padding: 6px 0 0 0;}

ul.gallery {list-style: none; margin: 0; padding: 0;}
ul.gallery li {display: block; float: left; margin: 0 3px 3px 0;}
ul.gallery li a {display: block; line-height: .1em;}
ul.gallery li a img {border: 1px solid #666;}
ul.gallery li a img:hover {border: 1px solid #000;}

